{% extends "footer.html" %}
{% block content %}
<!-- Login Modal -->
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">                      
        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Login</h4>
          <form class="aa-login-form" action="/login" method="post">
            <label for="">Username<span>*</span></label>
            <input type="text" name="Username" placeholder="Username" required>
            <label for="">Password<span>*</span></label>
            <input type="password" name="Password" placeholder="Password" required>
            <button class="aa-browse-btn" type="submit">Login</button><br>
            <label for="rememberme" class="rememberme"><input type="checkbox" name="remember" id="rememberme"> Remember me </label>
            <div class="aa-register-now">
              Don't have an account?<a href="account.html">Register now!</a>
            </div>
          </form>
        </div>                        
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>
{% endblock %}